@font-face {
  font-family: 'Recursive';
  font-style: normal;
  font-weight: 300;
  src: url(https://fonts.gstatic.com/s/recursive/v34/8vJN7wMr0mhh-RQChyHEH06TlXhq_gukbYrFMk1QuAIcyEwG_X-dpEfaE5YaERmK-CImKsvxvU-MXGX2fSqasNfUvz2xbXfn1uEQadDck312tQ0.woff2) format('woff2');
}
@font-face {
  font-family: 'Recursive';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/recursive/v34/8vJN7wMr0mhh-RQChyHEH06TlXhq_gukbYrFMk1QuAIcyEwG_X-dpEfaE5YaERmK-CImKsvxvU-MXGX2fSqasNfUvz2xbXfn1uEQadCCk312tQ0.woff2) format('woff2');
}
@font-face {
  font-family: 'Recursive';
  font-style: normal;
  font-weight: 500;
  src: url(https://fonts.gstatic.com/s/recursive/v34/8vJN7wMr0mhh-RQChyHEH06TlXhq_gukbYrFMk1QuAIcyEwG_X-dpEfaE5YaERmK-CImKsvxvU-MXGX2fSqasNfUvz2xbXfn1uEQadCwk312tQ0.woff2) format('woff2');
}
@font-face {
  font-family: 'Recursive';
  font-style: normal;
  font-weight: 600;
  src: url(https://fonts.gstatic.com/s/recursive/v34/8vJN7wMr0mhh-RQChyHEH06TlXhq_gukbYrFMk1QuAIcyEwG_X-dpEfaE5YaERmK-CImKsvxvU-MXGX2fSqasNfUvz2xbXfn1uEQadBclH12tQ0.woff2) format('woff2');
}
@font-face {
  font-family: 'Recursive';
  font-style: normal;
  font-weight: 700;
  src: url(https://fonts.gstatic.com/s/recursive/v34/8vJN7wMr0mhh-RQChyHEH06TlXhq_gukbYrFMk1QuAIcyEwG_X-dpEfaE5YaERmK-CImKsvxvU-MXGX2fSqasNfUvz2xbXfn1uEQadBllH12tQ0.woff2) format('woff2');
}
@font-face {
  font-family: 'Recursive';
  font-style: normal;
  font-weight: 800;
  src: url(https://fonts.gstatic.com/s/recursive/v34/8vJN7wMr0mhh-RQChyHEH06TlXhq_gukbYrFMk1QuAIcyEwG_X-dpEfaE5YaERmK-CImKsvxvU-MXGX2fSqasNfUvz2xbXfn1uEQadAClH12tQ0.woff2) format('woff2');
}
@font-face {
  font-family: 'Recursive';
  font-style: normal;
  font-weight: 900;
  src: url(https://fonts.gstatic.com/s/recursive/v34/8vJN7wMr0mhh-RQChyHEH06TlXhq_gukbYrFMk1QuAIcyEwG_X-dpEfaE5YaERmK-CImKsvxvU-MXGX2fSqasNfUvz2xbXfn1uEQadArlH12tQ0.woff2) format('woff2');
}
