@font-face {
  font-family: 'Texturina';
  font-style: italic;
  font-weight: 100;
  src: url(https://fonts.gstatic.com/s/texturina/v20/c4mO1nxpEtL3pXiAulR5mL129FhZmLj7I4oiSUJyfYDu7sB5zHJQWR1i4ZnKWQ.woff) format('woff');
}
@font-face {
  font-family: 'Texturina';
  font-style: italic;
  font-weight: 200;
  src: url(https://fonts.gstatic.com/s/texturina/v20/c4mO1nxpEtL3pXiAulR5mL129FhZmLj7I4oiSUJyfYDu7sB5zHJQWZ1j4ZnKWQ.woff) format('woff');
}
@font-face {
  font-family: 'Texturina';
  font-style: italic;
  font-weight: 300;
  src: url(https://fonts.gstatic.com/s/texturina/v20/c4mO1nxpEtL3pXiAulR5mL129FhZmLj7I4oiSUJyfYDu7sB5zHJQWUNj4ZnKWQ.woff) format('woff');
}
@font-face {
  font-family: 'Texturina';
  font-style: italic;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/texturina/v20/c4mO1nxpEtL3pXiAulR5mL129FhZmLj7I4oiSUJyfYDu7sB5zHJQWR1j4ZnKWQ.woff) format('woff');
}
@font-face {
  font-family: 'Texturina';
  font-style: italic;
  font-weight: 500;
  src: url(https://fonts.gstatic.com/s/texturina/v20/c4mO1nxpEtL3pXiAulR5mL129FhZmLj7I4oiSUJyfYDu7sB5zHJQWS9j4ZnKWQ.woff) format('woff');
}
@font-face {
  font-family: 'Texturina';
  font-style: italic;
  font-weight: 600;
  src: url(https://fonts.gstatic.com/s/texturina/v20/c4mO1nxpEtL3pXiAulR5mL129FhZmLj7I4oiSUJyfYDu7sB5zHJQWcNk4ZnKWQ.woff) format('woff');
}
@font-face {
  font-family: 'Texturina';
  font-style: italic;
  font-weight: 700;
  src: url(https://fonts.gstatic.com/s/texturina/v20/c4mO1nxpEtL3pXiAulR5mL129FhZmLj7I4oiSUJyfYDu7sB5zHJQWfpk4ZnKWQ.woff) format('woff');
}
@font-face {
  font-family: 'Texturina';
  font-style: italic;
  font-weight: 800;
  src: url(https://fonts.gstatic.com/s/texturina/v20/c4mO1nxpEtL3pXiAulR5mL129FhZmLj7I4oiSUJyfYDu7sB5zHJQWZ1k4ZnKWQ.woff) format('woff');
}
@font-face {
  font-family: 'Texturina';
  font-style: italic;
  font-weight: 900;
  src: url(https://fonts.gstatic.com/s/texturina/v20/c4mO1nxpEtL3pXiAulR5mL129FhZmLj7I4oiSUJyfYDu7sB5zHJQWbRk4ZnKWQ.woff) format('woff');
}
@font-face {
  font-family: 'Texturina';
  font-style: normal;
  font-weight: 100;
  src: url(https://fonts.gstatic.com/s/texturina/v20/c4mM1nxpEtL3pXiAulRTkY-HGmNEX1b9NspjMwhAgliHhVrXy2eYG8Un0Z0.woff) format('woff');
}
@font-face {
  font-family: 'Texturina';
  font-style: normal;
  font-weight: 200;
  src: url(https://fonts.gstatic.com/s/texturina/v20/c4mM1nxpEtL3pXiAulRTkY-HGmNEX1b9NspjMwhAgliHhVrXy2cYGsUn0Z0.woff) format('woff');
}
@font-face {
  font-family: 'Texturina';
  font-style: normal;
  font-weight: 300;
  src: url(https://fonts.gstatic.com/s/texturina/v20/c4mM1nxpEtL3pXiAulRTkY-HGmNEX1b9NspjMwhAgliHhVrXy2fGGsUn0Z0.woff) format('woff');
}
@font-face {
  font-family: 'Texturina';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/texturina/v20/c4mM1nxpEtL3pXiAulRTkY-HGmNEX1b9NspjMwhAgliHhVrXy2eYGsUn0Z0.woff) format('woff');
}
@font-face {
  font-family: 'Texturina';
  font-style: normal;
  font-weight: 500;
  src: url(https://fonts.gstatic.com/s/texturina/v20/c4mM1nxpEtL3pXiAulRTkY-HGmNEX1b9NspjMwhAgliHhVrXy2eqGsUn0Z0.woff) format('woff');
}
@font-face {
  font-family: 'Texturina';
  font-style: normal;
  font-weight: 600;
  src: url(https://fonts.gstatic.com/s/texturina/v20/c4mM1nxpEtL3pXiAulRTkY-HGmNEX1b9NspjMwhAgliHhVrXy2dGHcUn0Z0.woff) format('woff');
}
@font-face {
  font-family: 'Texturina';
  font-style: normal;
  font-weight: 700;
  src: url(https://fonts.gstatic.com/s/texturina/v20/c4mM1nxpEtL3pXiAulRTkY-HGmNEX1b9NspjMwhAgliHhVrXy2d_HcUn0Z0.woff) format('woff');
}
@font-face {
  font-family: 'Texturina';
  font-style: normal;
  font-weight: 800;
  src: url(https://fonts.gstatic.com/s/texturina/v20/c4mM1nxpEtL3pXiAulRTkY-HGmNEX1b9NspjMwhAgliHhVrXy2cYHcUn0Z0.woff) format('woff');
}
@font-face {
  font-family: 'Texturina';
  font-style: normal;
  font-weight: 900;
  src: url(https://fonts.gstatic.com/s/texturina/v20/c4mM1nxpEtL3pXiAulRTkY-HGmNEX1b9NspjMwhAgliHhVrXy2cxHcUn0Z0.woff) format('woff');
}
