@font-face {
  font-family: 'Texturina';
  font-style: italic;
  font-weight: 100;
  src: url(https://fonts.gstatic.com/s/texturina/v20/c4mO1nxpEtL3pXiAulR5mL129FhZmLj7I4oiSUJyfYDu7sB5zHJQWR1i4ZbKXw.woff2) format('woff2');
}
@font-face {
  font-family: 'Texturina';
  font-style: italic;
  font-weight: 200;
  src: url(https://fonts.gstatic.com/s/texturina/v20/c4mO1nxpEtL3pXiAulR5mL129FhZmLj7I4oiSUJyfYDu7sB5zHJQWZ1j4ZbKXw.woff2) format('woff2');
}
@font-face {
  font-family: 'Texturina';
  font-style: italic;
  font-weight: 300;
  src: url(https://fonts.gstatic.com/s/texturina/v20/c4mO1nxpEtL3pXiAulR5mL129FhZmLj7I4oiSUJyfYDu7sB5zHJQWUNj4ZbKXw.woff2) format('woff2');
}
@font-face {
  font-family: 'Texturina';
  font-style: italic;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/texturina/v20/c4mO1nxpEtL3pXiAulR5mL129FhZmLj7I4oiSUJyfYDu7sB5zHJQWR1j4ZbKXw.woff2) format('woff2');
}
@font-face {
  font-family: 'Texturina';
  font-style: italic;
  font-weight: 500;
  src: url(https://fonts.gstatic.com/s/texturina/v20/c4mO1nxpEtL3pXiAulR5mL129FhZmLj7I4oiSUJyfYDu7sB5zHJQWS9j4ZbKXw.woff2) format('woff2');
}
@font-face {
  font-family: 'Texturina';
  font-style: italic;
  font-weight: 600;
  src: url(https://fonts.gstatic.com/s/texturina/v20/c4mO1nxpEtL3pXiAulR5mL129FhZmLj7I4oiSUJyfYDu7sB5zHJQWcNk4ZbKXw.woff2) format('woff2');
}
@font-face {
  font-family: 'Texturina';
  font-style: italic;
  font-weight: 700;
  src: url(https://fonts.gstatic.com/s/texturina/v20/c4mO1nxpEtL3pXiAulR5mL129FhZmLj7I4oiSUJyfYDu7sB5zHJQWfpk4ZbKXw.woff2) format('woff2');
}
@font-face {
  font-family: 'Texturina';
  font-style: italic;
  font-weight: 800;
  src: url(https://fonts.gstatic.com/s/texturina/v20/c4mO1nxpEtL3pXiAulR5mL129FhZmLj7I4oiSUJyfYDu7sB5zHJQWZ1k4ZbKXw.woff2) format('woff2');
}
@font-face {
  font-family: 'Texturina';
  font-style: italic;
  font-weight: 900;
  src: url(https://fonts.gstatic.com/s/texturina/v20/c4mO1nxpEtL3pXiAulR5mL129FhZmLj7I4oiSUJyfYDu7sB5zHJQWbRk4ZbKXw.woff2) format('woff2');
}
@font-face {
  font-family: 'Texturina';
  font-style: normal;
  font-weight: 100;
  src: url(https://fonts.gstatic.com/s/texturina/v20/c4mM1nxpEtL3pXiAulRTkY-HGmNEX1b9NspjMwhAgliHhVrXy2eYG8Uo0Zs.woff2) format('woff2');
}
@font-face {
  font-family: 'Texturina';
  font-style: normal;
  font-weight: 200;
  src: url(https://fonts.gstatic.com/s/texturina/v20/c4mM1nxpEtL3pXiAulRTkY-HGmNEX1b9NspjMwhAgliHhVrXy2cYGsUo0Zs.woff2) format('woff2');
}
@font-face {
  font-family: 'Texturina';
  font-style: normal;
  font-weight: 300;
  src: url(https://fonts.gstatic.com/s/texturina/v20/c4mM1nxpEtL3pXiAulRTkY-HGmNEX1b9NspjMwhAgliHhVrXy2fGGsUo0Zs.woff2) format('woff2');
}
@font-face {
  font-family: 'Texturina';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/texturina/v20/c4mM1nxpEtL3pXiAulRTkY-HGmNEX1b9NspjMwhAgliHhVrXy2eYGsUo0Zs.woff2) format('woff2');
}
@font-face {
  font-family: 'Texturina';
  font-style: normal;
  font-weight: 500;
  src: url(https://fonts.gstatic.com/s/texturina/v20/c4mM1nxpEtL3pXiAulRTkY-HGmNEX1b9NspjMwhAgliHhVrXy2eqGsUo0Zs.woff2) format('woff2');
}
@font-face {
  font-family: 'Texturina';
  font-style: normal;
  font-weight: 600;
  src: url(https://fonts.gstatic.com/s/texturina/v20/c4mM1nxpEtL3pXiAulRTkY-HGmNEX1b9NspjMwhAgliHhVrXy2dGHcUo0Zs.woff2) format('woff2');
}
@font-face {
  font-family: 'Texturina';
  font-style: normal;
  font-weight: 700;
  src: url(https://fonts.gstatic.com/s/texturina/v20/c4mM1nxpEtL3pXiAulRTkY-HGmNEX1b9NspjMwhAgliHhVrXy2d_HcUo0Zs.woff2) format('woff2');
}
@font-face {
  font-family: 'Texturina';
  font-style: normal;
  font-weight: 800;
  src: url(https://fonts.gstatic.com/s/texturina/v20/c4mM1nxpEtL3pXiAulRTkY-HGmNEX1b9NspjMwhAgliHhVrXy2cYHcUo0Zs.woff2) format('woff2');
}
@font-face {
  font-family: 'Texturina';
  font-style: normal;
  font-weight: 900;
  src: url(https://fonts.gstatic.com/s/texturina/v20/c4mM1nxpEtL3pXiAulRTkY-HGmNEX1b9NspjMwhAgliHhVrXy2cxHcUo0Zs.woff2) format('woff2');
}
