@font-face {
  font-family: 'Cardo';
  font-style: italic;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/cardo/v19/wlpxgwjKBV1pqhv93Ic.woff) format('woff');
}
@font-face {
  font-family: 'Cardo';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/cardo/v19/wlp_gwjKBV1pqiv8.woff) format('woff');
}
@font-face {
  font-family: 'Cardo';
  font-style: normal;
  font-weight: 700;
  src: url(https://fonts.gstatic.com/s/cardo/v19/wlpygwjKBV1pqhND-aQS.woff) format('woff');
}
