@font-face {
  font-family: 'Texturina';
  font-style: italic;
  font-weight: 100;
  src: url(https://fonts.gstatic.com/s/texturina/v20/c4mO1nxpEtL3pXiAulR5mL129FhZmLj7I4oiSUJyfYDu7sB5zHJQWR1i0Z4.ttf) format('truetype');
}
@font-face {
  font-family: 'Texturina';
  font-style: italic;
  font-weight: 200;
  src: url(https://fonts.gstatic.com/s/texturina/v20/c4mO1nxpEtL3pXiAulR5mL129FhZmLj7I4oiSUJyfYDu7sB5zHJQWZ1j0Z4.ttf) format('truetype');
}
@font-face {
  font-family: 'Texturina';
  font-style: italic;
  font-weight: 300;
  src: url(https://fonts.gstatic.com/s/texturina/v20/c4mO1nxpEtL3pXiAulR5mL129FhZmLj7I4oiSUJyfYDu7sB5zHJQWUNj0Z4.ttf) format('truetype');
}
@font-face {
  font-family: 'Texturina';
  font-style: italic;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/texturina/v20/c4mO1nxpEtL3pXiAulR5mL129FhZmLj7I4oiSUJyfYDu7sB5zHJQWR1j0Z4.ttf) format('truetype');
}
@font-face {
  font-family: 'Texturina';
  font-style: italic;
  font-weight: 500;
  src: url(https://fonts.gstatic.com/s/texturina/v20/c4mO1nxpEtL3pXiAulR5mL129FhZmLj7I4oiSUJyfYDu7sB5zHJQWS9j0Z4.ttf) format('truetype');
}
@font-face {
  font-family: 'Texturina';
  font-style: italic;
  font-weight: 600;
  src: url(https://fonts.gstatic.com/s/texturina/v20/c4mO1nxpEtL3pXiAulR5mL129FhZmLj7I4oiSUJyfYDu7sB5zHJQWcNk0Z4.ttf) format('truetype');
}
@font-face {
  font-family: 'Texturina';
  font-style: italic;
  font-weight: 700;
  src: url(https://fonts.gstatic.com/s/texturina/v20/c4mO1nxpEtL3pXiAulR5mL129FhZmLj7I4oiSUJyfYDu7sB5zHJQWfpk0Z4.ttf) format('truetype');
}
@font-face {
  font-family: 'Texturina';
  font-style: italic;
  font-weight: 800;
  src: url(https://fonts.gstatic.com/s/texturina/v20/c4mO1nxpEtL3pXiAulR5mL129FhZmLj7I4oiSUJyfYDu7sB5zHJQWZ1k0Z4.ttf) format('truetype');
}
@font-face {
  font-family: 'Texturina';
  font-style: italic;
  font-weight: 900;
  src: url(https://fonts.gstatic.com/s/texturina/v20/c4mO1nxpEtL3pXiAulR5mL129FhZmLj7I4oiSUJyfYDu7sB5zHJQWbRk0Z4.ttf) format('truetype');
}
@font-face {
  font-family: 'Texturina';
  font-style: normal;
  font-weight: 100;
  src: url(https://fonts.gstatic.com/s/texturina/v20/c4mM1nxpEtL3pXiAulRTkY-HGmNEX1b9NspjMwhAgliHhVrXy2eYG_Ug.ttf) format('truetype');
}
@font-face {
  font-family: 'Texturina';
  font-style: normal;
  font-weight: 200;
  src: url(https://fonts.gstatic.com/s/texturina/v20/c4mM1nxpEtL3pXiAulRTkY-HGmNEX1b9NspjMwhAgliHhVrXy2cYGvUg.ttf) format('truetype');
}
@font-face {
  font-family: 'Texturina';
  font-style: normal;
  font-weight: 300;
  src: url(https://fonts.gstatic.com/s/texturina/v20/c4mM1nxpEtL3pXiAulRTkY-HGmNEX1b9NspjMwhAgliHhVrXy2fGGvUg.ttf) format('truetype');
}
@font-face {
  font-family: 'Texturina';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/texturina/v20/c4mM1nxpEtL3pXiAulRTkY-HGmNEX1b9NspjMwhAgliHhVrXy2eYGvUg.ttf) format('truetype');
}
@font-face {
  font-family: 'Texturina';
  font-style: normal;
  font-weight: 500;
  src: url(https://fonts.gstatic.com/s/texturina/v20/c4mM1nxpEtL3pXiAulRTkY-HGmNEX1b9NspjMwhAgliHhVrXy2eqGvUg.ttf) format('truetype');
}
@font-face {
  font-family: 'Texturina';
  font-style: normal;
  font-weight: 600;
  src: url(https://fonts.gstatic.com/s/texturina/v20/c4mM1nxpEtL3pXiAulRTkY-HGmNEX1b9NspjMwhAgliHhVrXy2dGHfUg.ttf) format('truetype');
}
@font-face {
  font-family: 'Texturina';
  font-style: normal;
  font-weight: 700;
  src: url(https://fonts.gstatic.com/s/texturina/v20/c4mM1nxpEtL3pXiAulRTkY-HGmNEX1b9NspjMwhAgliHhVrXy2d_HfUg.ttf) format('truetype');
}
@font-face {
  font-family: 'Texturina';
  font-style: normal;
  font-weight: 800;
  src: url(https://fonts.gstatic.com/s/texturina/v20/c4mM1nxpEtL3pXiAulRTkY-HGmNEX1b9NspjMwhAgliHhVrXy2cYHfUg.ttf) format('truetype');
}
@font-face {
  font-family: 'Texturina';
  font-style: normal;
  font-weight: 900;
  src: url(https://fonts.gstatic.com/s/texturina/v20/c4mM1nxpEtL3pXiAulRTkY-HGmNEX1b9NspjMwhAgliHhVrXy2cxHfUg.ttf) format('truetype');
}
